body {
  width: 100vw;
  height: 100vh;
  font-family: $gabriela;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1.28;
  color: $mine-shaft;
  background: $white;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  display: inline-block;
  max-width: max-content;
  text-decoration: none;
  color: $mine-shaft;
}

svg {
  display: inline-block;
  vertical-align: top;

  path {
    stroke: $white;
  }
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  border-radius: 5px;
}

ul {
  list-style: none;
}

.title {
  @include title($weight-title, $mine-shaft);
}

.subtitle {
  @include subtitle($weight-subtitle, $mine-shaft);
}

.container {
  padding: $padding-container;
  height: 100%;
  overflow-x: hidden;

  &--lookbook {
    height: auto;
    padding-right: $padding-lookbook-right;
  }
}
