// -----------------------------------------------------------------------------
// This file contains all @mixin for the project
// -----------------------------------------------------------------------------

@mixin text-nav($weight, $color, $font-size) {
  font-family: $futura-regular;
  font-weight: $weight;
  font-size: $font-size;
  line-height: 1.27;
  text-transform: uppercase;
  color: $color;
}

/// TITLE
@mixin title($weight, $color) {
  font-family: $gabriela;
  font-weight: $weight;
  text-transform: uppercase;
  color: $color;
}

/// SUBTITLE
@mixin subtitle($wight, $color) {
  font-family: $futura-regular;
  font-weight: $wight;
  color: $color;
}

/// TEXT
@mixin text($font-family, $wight, $size, $color, $height) {
  font-family: $font-family;
  font-weight: $wight;
  font-size: $size;
  line-height: $height;
  color: $color;
}

/// BUTTON
@mixin button($wight, $color, $opacity) {
  font-family: $futura-regular;
  font-weight: $wight;
  text-transform: uppercase;
  color: $color;
  opacity: $opacity;
}

///SLIDE ITEM
@mixin slide-item($wight, $size) {
  font-family: $futura-regular;
  font-weight: $wight;
  font-size: $size;
  line-height: 1.28;
  text-align: center;
  text-transform: uppercase;
}
