/**
*
* This file contains all application-wide Sass variables.
*
*/

/// REGULAR FONT-FAMILY
$gabriela: "Gabriela";
$futura-regular: "FuturaPT-Medium";
$futura-book: "FuturaPT-Book";
$futura-light: "FuturaPT-Light";
$futura-demi: "FuturaPT-Demi";

/// COPY COLOR
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$mine-shaft: rgb(51, 51, 51);
$alto: rgb(217, 217, 217);
$mercury: rgb(232, 232, 232);
$gray: rgb(132, 132, 132);
$athens-gray: rgb(245, 245, 246);
$seashell: rgb(241, 241, 241);
$nobel: rgb(181, 181, 181);

/// WIDTH COMPONENTS AND LAYOUT
$width-sidebar: 359px;
$width-social: 20px;
$width-btn: 187px;
$width-slide-item: 371px;

/// HEIGHT COMPONENTS AND LAYOUT
$height-social: 20px;
$height-btn: 48px;
$height-nav-link: 100%;

/// MARGIN
$margin-left-main: 395px;

/// PADDING COMPONENTS AND LAYOUT
$padding-sidebar: 5% 0 5% 60px;
$padding-btn: 15px 25px;
$padding-item: 15px 0;
$padding-list: 15px 0 0 0;
$padding-list-item: 15px 0 15px 10px;
$padding-list-item-last: 15px 0 0 10px;
$padding-container: 5% 0 5% 0;
$padding-slide-item: 43px;
$padding-lookbook-right: 5%;

/// FONT-SIZE
$size-title: 36px;
$size-subtitle: 15px;
$size-nav: 11px;
$size-tel: 14px;
$size-slide-item: 32px;
$size-about: 18px;
$size-title-item-lookbook: 20px;
$size-text-item-lookbook: 18px;
$size-upward: 16px;
$size-text-info: 28px;
$size-form-input: 14px;
$size-form-footer: 10px;
$size-item-title: 24px;
$size-for-title: 24px;
$size-button-main: 15px;
$size-price-info: 20px;
$size-price-subtext: 18px;

///FONT-WEIGHT
$weight-title: 400;
$weight-subtitle: 400;
$weight-nav: 450;
$weight-btn: 450;
$weight-slide-item: 500;
$weight-normal: 300;
$weight-text: 400;
$weight-upward: 450;
$weight-button-main: 500;

/// LINE-HEIGHT
$line-height-title: 1.28125;
$line-height-subtitle: 1.26;
$line-height-about: 1.3;
$line-height-text-lookbook: 1.2778;
$line-height-upward: 1.3125;
$line-height-text-info: 1.2857;
$line-height-input: 1.5;
$line-height-form-footer: 1.3;
$line-height-button-main: 1.26667;
$line-height-price-info: 1.3;
$line-height-price-subtext: 1.27778;

///LETTER-SPACING
$litter-spacing-subtitle: 10px;


///BOX-SHADOW
$box-shadow-sidebar: 0 0 10px 10px rgb(0 0 0 / 3%);


///OPACITY
$opacity-btn: 0.67;
