extends ../../layout/_base.pug
include ../../mixin/_button.pug

block vars 
    - var title = "Личные фотосессии"
    - var sectionTitle = "Личные фотосессии"
    - var activeGallery = 'active'
    - var classContainer = 'container--content'

block submenu
    ul(class="submenu__list")
        li(class="submenu__item")
            a(class="nav__link submenu__link" href="./lookbook.html")
                |Лукбуки
        li(class="submenu__item")
            a(class="nav__link submenu__link" href="./campagin.html")
                |Кампейн
        li(class="submenu__item")
            a(class="nav__link submenu__link" href="./")
                |Предметное фото
        li(class="submenu__item")
            a(class="nav__link submenu__link" href="./")
                |Бьюти съемка

block button-main
    +button('Заказать съемку →', 'button js-button')

block subtitle
    h2(class="subtitle")
        |портретная съемка как зеркало души (или что-нибудь такое)

block content
    include ./init-content.pug        