extends ../../layout/_content.pug
include ../../mixin/_button.pug

block items
    div(class="for-content for-content--content")
        figure(class="for-item for-gallery for-item--small js-gallery" data-aos="fade-right")
            img(src="./images/gallery/one/gallery-one-1.jpg", alt="")
            figcaption(class="for-item__title")
                |Ника Шишкина
        figure(class="for-item for-gallery for-item--small js-gallery" data-aos="fade-down")
            img(src="./images/gallery/two/gallery-two-1.jpg", alt="")
            figcaption(class="for-item__title")
                |Александр Киселев
        figure(class="for-item for-gallery for-item--small js-gallery" data-aos="fade-left")
            img(src="./images/gallery/thee/gallery-thee-1.jpg", alt="")
            figcaption(class="for-item__title")
                |Ирина Тихоненко