div(class="modal js-modal")
    div(class="modal__inner js-modal-inner")
        form(class="modal__form form" action="/" method="GET")
            div(class="form__header")
                h1(class="form__title title")
                    |Обратный вызов
                h2(class="form__subtitle subtitle")
                    |Заполните форму и я перезвоню вам в ближайшее время
            div(class="form__inputs")
                input(class="form__input" type="text" name="name-client" placeholder="Имя" required)
                input(class="form__input" type="tel" name="tel-client" pattern="[0-9]{1,11}" placeholder="Телефон" minlength="1" maxlength="11" required)
                textarea(class="form__textarea" name="message-client" placeholder="Сообщение" spellcheck=true required)
            div(class="form__footer")
                button(class="form__button button")
                    |Отправить
                div(class="form__massage")
                    p Нажимая на кнопку, вы принимаете политику конфиденциальности и даете согласие на обработку персональных данных.   
    button(class="modal__button js-modal-button" type="button")
        svg(viewBox="0 0 24 24" width="30" height="30")
            path(class="js-path" d="M12.649,12L21.886,.818c.176-.213,.146-.528-.067-.704-.211-.176-.526-.147-.704,.067L12,11.215,2.886,.182c-.178-.215-.493-.243-.704-.067-.213,.176-.243,.491-.067,.704L11.351,12,2.114,23.182c-.176,.213-.146,.528,.067,.704,.212,.175,.527,.147,.704-.067L12,12.785l9.114,11.033c.177,.214,.493,.242,.704,.067,.213-.176,.243-.491,.067-.704L12.649,12Z")