div(class="container home")
    main(class="main")
        section(class="main__section")
            h1(class="main__title title")
                |Профессиональная съемка фотосъёмка в Тюмени
            div(class="main__slide swiper") 
                div(class="main__inner swiper-wrapper")
                    div(class="main__item one swiper-slide")
                        a(href="/") 
                            |Лукбуки
                    div(class="main__item two swiper-slide")            
                        a(href="/")    
                            |Бьюти съёмка
                    div(class="main__item three swiper-slide")        
                        a(href="/")     
                            |Личные фотосессии  
