extends ../../layout/_content.pug
include ../../mixin/_button.pug

block items
    div(class="for-content for-content--magazines")
        div(class="for-item for-gallery for-item--middle" data-aos="fade-down")
            a(data-fslightbox="magazine-one" href="./images/magazines/one/magazine-one-1.jpg")
                img(src="./images/magazines/one/magazine-one-1.jpg", alt="")
        div(class="for-item for-gallery for-item--middle" data-aos="fade-down")
            a(data-fslightbox="magazine-one" href="./images/magazines/one/magazine-one-2.jpg")
                img(src="./images/magazines/one/magazine-one-2.jpg", alt="")
        div(class="for-item for-gallery for-item--very-small" data-aos="fade-right")
            a(data-fslightbox="magazine-one" href="./images/magazines/one/magazine-one-3.jpg")
                img(src="./images/magazines/one/magazine-one-3.jpg", alt="")
        div(class="for-item for-gallery for-item--very-small" data-aos="fade-right")
            a(data-fslightbox="magazine-one" href="./images/magazines/one/magazine-one-4.jpg")
                img(src="./images/magazines/one/magazine-one-4.jpg", alt="")
        div(class="for-item for-gallery for-item--very-small" data-aos="fade-right")
            a(data-fslightbox="magazine-one" href="./images/magazines/one/magazine-one-5.jpg")
                img(src="./images/magazines/one/magazine-one-5.jpg", alt="")
        div(class="for-item for-gallery for-item--very-small" data-aos="fade-left")
            a(data-fslightbox="magazine-one" href="./images/magazines/one/magazine-one-6.jpg")
                img(src="./images/magazines/one/magazine-one-6.jpg", alt="")
        div(class="for-item for-gallery for-item--very-small" data-aos="fade-left")
            a(data-fslightbox="magazine-one" href="./images/magazines/one/magazine-one-7.jpg")
                img(src="./images/magazines/one/magazine-one-7.jpg", alt="")
        div(class="for-item for-gallery for-item--very-small" data-aos="fade-left")
            a(data-fslightbox="magazine-one" href="./images/magazines/one/magazine-one-8.jpg")
                img(src="./images/magazines/one/magazine-one-8.jpg", alt="")
        div(class="for-item for-gallery for-item--middle" data-aos="fade-up")
            a(data-fslightbox="magazine-one" href="./images/magazines/one/magazine-one-9.jpg")
                img(src="./images/magazines/one/magazine-one-9.jpg", alt="")
        div(class="for-item for-gallery for-item--middle" data-aos="fade-up")
            a(data-fslightbox="magazine-one" href="./images/magazines/one/magazine-one-10.jpg")
                img(src="./images/magazines/one/magazine-one-10.jpg", alt="")

block button
    div(class="content__button content__button--more")
         +button('Больше фото →', 'button js-button-more')