.button {
  @include button($weight-btn, $mine-shaft, $opacity-btn);

  border: 1px solid $mine-shaft;
  border-radius: 50px;
  padding: $padding-btn;
  width: 100%;
  height: $height-btn;
  max-width: max-content;
  background: $white;
  transition: background 0.2s linear, color 0.2s linear;
  cursor: pointer;

  &:hover {
    color: $black;
    background: $gray;
  }
}
