.nav {
  @include text-nav($weight-nav, $mine-shaft, $size-nav);

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    padding: $padding-item;
  }

  &__link {
    position: relative;
    width: max-content;
    transition: color 0.2s linear;

    &::before {
      content: "";
      position: absolute;
      left: -10px;
      width: 3px;
      height: 16px;
      background: $gray;
      opacity: 0;
      transition: all 0.2s linear;
    }

    &:hover::before {
      opacity: 1;
    }

    &:hover,
    &:hover svg path {
      color: $gray;
      fill: $gray;
      stroke: $gray;
    }

    &.active::before {
      background: $alto;
      opacity: 1;
    }

    &.active,
    &.active svg path {
      color: $alto;
      fill: $alto;
      stroke: $alto;
    }

    &.active svg {
      transform: rotate(-180deg);
    }

    &.active + .submenu__list {
      padding: $padding-list;
      max-height: 100%;
    }

    &.active + .submenu__list .submenu__item {
      margin-top: 0;
      max-height: 100%;
    }
  }

  &__icon {
    width: 15px;
    height: 13px;
    fill: $mine-shaft;
    transition: all 0.3s linear;

    path {
      stroke: $mine-shaft;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 1.5;
      transition: all 0.3s linear;
    }
  }
}
