.submenu {
  position: relative;
  cursor: pointer;

  &__list {
    display: block;
    overflow: hidden;
    max-height: 0;
    transition: all 0.5s;
  }

  &__item {
    position: relative;
    display: block;
    margin-top: -50px;
    width: max-content;
    transition: all 0.3s ease-out;

    &:not(:last-child) {
      padding: $padding-list-item;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      width: 3px;
      height: 16px;
      background: $gray;
      opacity: 0;
      transition: opacity 0.2s linear;
    }

    &:hover::before {
      opacity: 1;
    }

    &:hover .nav__link {
      color: $gray;
    }

    &:last-child {
      padding: $padding-list-item-last;
    }

    &.active::before {
      background: $alto;
      opacity: 1;
    }

    &.active > .nav__link {
      color: $alto;
    }
  }
}
