.submenu {
  position: relative;
  cursor: pointer;

  &__list {
    display: block;
    overflow: hidden;
    max-height: 0;
    transition: all 0.5s;
  }

  &__item {
    display: block;
    margin-top: -50px;
    width: max-content;
    transition: all 0.3s ease-out;

    &:not(:last-child) {
      padding: $padding-list-item;
    }

    &:last-child {
      padding: $padding-list-item-last;
    }
  }
}
