.upward {
  @include text($futura-book, $weight-upward, $size-upward, $alto, $line-height-upward);

  position: fixed;
  right: 5%;
  top: 10px;
  z-index: 1000;
  display: flex;
  width: 85px;
  height: 24px;
  text-transform: uppercase;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s linear, color 0.2s linear, text-shadow 0.2s linear;
  cursor: pointer;
  gap: 5px;

  & svg path {
    stroke: $alto;
    transition: stroke 0.2s linear, filter 0.2s linear;
  }

  &:hover {
    text-shadow: 0 0 4px $black;
    color: $white;
  }

  &:hover svg path {
    stroke: $white;
    filter: drop-shadow(0 0 1px $black);
  }

  &:active {
    color: $mine-shaft;
  }

  &:active svg path {
    stroke: $mine-shaft;
  }

  &.active {
    opacity: 1;
    visibility: visible;
  }
}
