.content {
  gap: 60px;

  &__images {
    display: flex;
    gap: 3px;
  }

  &__img {
    object-fit: cover;
  }

  &__info {
    @include text($futura-book, $weight-text, $size-text-info, $mine-shaft, $line-height-text-info);

    display: flex;
    justify-content: space-between;
  }

  &__info-item {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 15px;
  }

  &__title {
    font-size: $size-title-item-lookbook;
    text-transform: none;
    color: $black;
  }

  &__text {
    @include text($futura-book, $weight-normal, $size-text-item-lookbook, $black, $line-height-text-lookbook);
  }

  &__button {
    margin: 0 auto;
  }
}
