.for-content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
  gap: 3px;

  &--content {
    gap: 60px;
  }

  &--magazines {
    gap: 0;
  }
}

.for-item {
  display: flex;
  flex-direction: column;
  grid-column: span 4;
  grid-row: span 6;
  text-align: center;
  object-fit: cover;
  gap: 30px;

  &--very-small {
    grid-column: span 2;
  }

  &--small {
    grid-row: span 3;
  }

  &--middle {
    grid-column: span 6;
  }

  &--big {
    grid-column: span 8;
  }

  &--very {
    grid-column: span 12;

    & img {
      height: 485px;
      object-fit: cover;
    }
  }

  &__title {
    font-size: 24px;
  }
}

.for-gallery {
  cursor: pointer;
}
