.main {
  display: flex;
  flex-direction: column;
  margin-left: $margin-left-main;
  height: 100%;

  &__section {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    gap: 40px;
  }

  &__title {
    padding-top: 45px;
    font-size: 36px;
    line-height: 1.277;
  }

  // PAGE HOME
  //-------------------

  &__slide {
    height: 100%;
    max-width: 100%;
  }

  &__inner {
    display: flex;
    height: 100%;
    max-width: 100%;
  }

  &__item {
    @include slide-item($weight-slide-item, $size-slide-item);

    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: $padding-slide-item;
    width: 100%;
    height: 100%;
    min-height: auto;
    background: center, no-repeat;
    background-size: cover;
    transition: color 0.3s linear;
  }

  &__item.one {
    background-image: url("../asset/images/slide/slide_one.png");
  }

  &__item.two {
    background-image: url("../asset/images/slide/slide_two.png");
  }

  &__item.three {
    background-image: url("../asset/images/slide/slide_thee.png");
  }

  &__item a {
    color: $white;
    transition: color 0.2s linear;
  }

  &__item:hover a {
    color: $gray;
  }

  &__item:active a {
    color: $alto;
  }

  &__inner--about {
    overflow: hidden;
    gap: 65px;
  }

  &__img {
    width: 40%;
    height: 100%;

    & img {
      display: inline-block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__about {
    height: 100%;
    max-width: 400px;
  }
}
