extends ../../layout/_base.pug

block vars 
    - var title = "Лукбук"
    - var activeSubmenu = "active"
    - var sectionTitle = "Лукбук для модельного агентства LIBERTY"
    - var classTitleSection = "main__title--normal"
    - var classContainer = 'container--content'

block submenu
    ul(class="submenu__list")
        li(class="submenu__item")
            a(class="nav__link submenu__link active" href="./lookbook.html")
                |Лукбуки
        li(class="submenu__item")
            a(class="nav__link submenu__link" href="./campagin.html")
                |Кампейн
        li(class="submenu__item")
            a(class="nav__link submenu__link" href="./")
                |Предметное фото
        li(class="submenu__item")
            a(class="nav__link submenu__link" href="./")
                |Бьюти съемка           

block content
    include ./init-content.pug