extends ../../layout/_base

block vars
    - var title = "Обо мне"
    - var activeAbout = "active"
    - var sectionTitle = "Обо мне"
    - var classSection = "about"   

block content
    include ../../layout/_about.pug