extends ../../layout/_base.pug
include ../../mixin/_button.pug

block vars 
    - var title = "Отзывы"
    - var sectionTitle = "Отзывы"
    - var activeTestimonials = "active"
    - var classContainer = "container--content"

block content
    include ./init-content.pug    